name: "Pull Request"
on:
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "corretto"
          java-version: "17"
          cache: gradle
      - name: Run Unit Test and Code Coverage Test
        run: |
          chmod +x ./gradlew
          ./gradlew test
      - name: Upload Test Reports (if failure)
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-reports
          path: build/reports
          if-no-files-found: error
      - name: Jacoco Report (madrapps)
        uses: madrapps/jacoco-report@v1.3
        with:
          paths: build/reports/jacoco/test/jacocoTestReport.xml
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: ./gradlew clean build
